<!-- <ion-item>
  <ion-label>Looking For?</ion-label>
  <ion-select ok-text="OK" cancel-text="Cancel">
    <ion-select-option value="dos">Electrician</ion-select-option>
    <ion-select-option value="lunix">Mechanic</ion-select-option>
    <ion-select-option value="mac7">Washaman</ion-select-option>
    <ion-select-option value="mac8">Nanny</ion-select-option>
    <ion-select-option value="win3.1">Carpenter</ion-select-option>
    <ion-select-option value="win95">Plumber</ion-select-option>
    <ion-select-option value="win98">Cook</ion-select-option>
  </ion-select>
</ion-item> -->

